extends ../layout

block content
	if (form !== 'undefined')
		form(method='post')
			!= form
			input(type='submit')
			Lorem ipsum Cupidatat laborum mollit labore officia ea mollit consequat est reprehenderit ea ullamco.
