extends ../layout

block content
	h1 List des utilisateurs
	div.table-responsive
		table(class="table-bordered")
			thead
				tr
					th Username
					th Password
					th Email
			tbody
			each user in users
				tr
					td #{user.username}
					td #{user.password}
					td #{user.extras.email}
					td 
						a(href="delete/user/" + user.username, role="button", class="btn btn-default") delete
					td
						a(href="../admin/edit/" + user._id, role="button", class="btn btn-default") edit