extends layout

block content
	if isAuthenticated == false
		a(href='/login') Log in here
		p Lorem ipsum Incididunt sit eu irure dolor laborum dolor in ut veniam voluptate magna sit sed.
	else
		p Bienvenue cher #{user.name}
		a(href='/logout') Log out here