extends layout

block content
	form(action:"/sign", method="post")
		div
			label Username:
			input(type="text", name="username")
		div
			label Password:
			input(type="text", name="username")
		div
			input(type="submit" value="Log In")