doctype html
html.full
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/sign.css')
		link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
		link(rel='stylesheet', href='/stylesheets/style.css')
	body(id="transparent")
		.container-fluid
			.row
				.col-md-12
					div(class="dark login-container")
						.login-title
							h1 Connexion
						div(class="sign-in")
							div
								a(href="/sign/new", target="_blank") création de compte
						.login-main
							form(method="post")
								.form-inputs
									.form-group
										label(for="login")
										input(type="login", class="form-control",id="text", placeholder="login")
									.form-group
										label(for="password")
										input(type="password", class="form-control", id="password", placeholder="password")
								.form-action
									button(type="submit", class="btn btn-login button") submit