
/* Color */
.dark
{
	color: #aaa;
	color: rgba(255,255,255,0.65);
}
/*Sign_in*/
.login-container .login-main .form-inputs .login-title .sign_in
{
	margin: 10px;
}

.login-container
{
	margin: 100px auto;
	max-width: 480px;
}

.login-title
{
	text-align: center;
	color: #FFF;
}
.sign-in
{
	text-align: center;
	background: rgba(33,33,33,0.9);
	padding: 10px;
	color: #FFF;
	font-size: 1.8em;
}

.login-main
{
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.15);
	background: rgba(33,33,33,0.9);
	border-radius: 0 0 5px 5px;
	padding: 10px;
}

#transparent
{
	background-color: transparent;
}

.button
{
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.15);
    box-shadow: 0px 0px 0px 1px #FFF inset;
    color: #FFF;
}

.btn-login
{
	display: block;
	margin: 30px auto;
	width: 250px;
	font-size: 1.8em;
	border: none;
}

#password
{
	max-width: 400px;
	overflow: scroll;
}

#email
{
	max-width: 500px;
	overflow: scroll;
}